.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 300px;
  border: 2px solid rgb(32, 32, 32);
  border-radius: 15px;
  overflow: hidden;
}
